<div *ngIf="state.isProgressing else mainContent" class="progress"
  style="height: 100vh; width: 100%; display: flex; justify-content: center; align-items: center;">
  <mat-spinner></mat-spinner>
</div>

<ng-template #mainContent>
  <div class="admin-layouts-wrap">
    <div class="nav-sidebar">
      <app-sidebar [toggle]="sidebarToggle"></app-sidebar>
      <div>
        <app-navbar (sideBarToggleEmit)="sidebarToggleFunction($event)"></app-navbar>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</ng-template>
