.admin-layouts-wrap {
  background-color: #F7F6F4;
}

.nav-sidebar {
  display: flex;
}

.content {
  margin: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}
