.sidebar-element {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-left: 15px;
  padding: 10px 15px;
  color: #000;
}

.active {
  background-color: #F7F6F4;
  border-radius: 10px 0px 0px 10px;
  color: #00afb1;
}

.sidebar-element .sidebar-element-icon {
  margin-right: 10px;
}
