.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 79vw;
  padding: 20px;
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
}

.isCollapsed {
  width: 97vw;
}

.navigation {
  display: flex;
  align-items: center;
  width: 9%;
  justify-content: space-between;
}
