.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 79vw;
  padding: 20px;
  background-color: #fff;
  margin: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}

.isCollapsed {
  width: 97vw;
}

.navigation {
  display: flex;
  align-items: center;
  width: 9%;
  justify-content: space-between;
}
