.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  width: 9%;
  justify-content: space-between;
}
