<div [className]="isCollapsed?'navbar isCollapsed':'navbar'">
  <div class="navigation">

    <button (click)="sideBarToggle()" mat-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Dashboard</span>
  </div>

  <div class="profile">

    <span class="font-semibold">Rohan</span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item>Profile</a>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </div>

</div>
