.sidebar-container {
  min-height: 97vh;

}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

.example-sidenav {
  padding: 20px 0px;
}

.sidebar {
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}





.content {
  margin: 10px;
}
